/* ================ otsu@tp2p  =============== */	

* {
	margin:0;
	padding:0;	
}

body {
	background:#e4e5e5;
    background: -moz-radial-gradient(50% 50%, circle, #e4e5e5, #d2d2d2);
    background: -webkit-radial-gradient(50% 50%, circle, #e4e5e5, #d2d2d2);
    background: -o-radial-gradient(50% 50%, circle, #e4e5e5, #d2d2d2);
    background: -ms-radial-gradient(50% 50%, circle, #e4e5e5, #d2d2d2);
    background: radial-gradient(50% 50%, circle, #e4e5e5, #d2d2d2);
} 

#container {
	margin:80px auto;
	width:920px;
}
