.doubleSpace {
	line-height: 20px; 
}

.LoginBar {
	font-size:11px;
}

.AdminSystem {
	font-size:14px;
	text-align:center;
}

.AdminSubSystem {
	font-size:11px;
	text-align:left;
}

.descriptionText {
	text-align:justify;
}

#borderProducto {border-style:dashed;
	   border-color:#FF9900;
	   border-width:thin;
	   margin-bottom:5px;
	   margin-top:5px;
}

#contacto{
	margin-left: 20px;
}

#categoria{
	width: 285px;
	margin-right: 20px;
	float: left;
}

#categorias{
	height: 600px;
	margin-left: 20px;
	margin-right: 20px;
}

#productos{
	margin-left: 20px;
	margin-right: 20px;
}

#detalleProductos{
	height: 600px;
	margin-left: 20px;
	margin-right: 20px;
}

#producto{
	margin-top: 20px;
	border-style:solid;
	border-width:1px;
	height: 151px;
}

#nombreProducto{
	font-size: 18px;
	font-weight: bold;
	text-decoration:none;
}

#borderCategoria {border-style:ridge;
	   border-color:#FFFF99;
	   border-width:medium;
	   margin-bottom:0px;
}

#textoPrincipal {
	margin:30px;
}

a:hover{
	text-decoration:none;
}

a:visited{
	color:#006699;
	text-decoration:none;
}

a:active{
	color:#006699;
	text-decoration:none;
}

a:link{
	color:#006699;
	text-decoration:none;
}


.botonEnviarFormulario {
	-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25) );
	background:-moz-linear-gradient( center top, #ffc477 5%, #fb9e25 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
	background-color:#ffc477;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #eeb44f;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #cc9f52;
}.botonEnviarFormulario:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477) );
	background:-moz-linear-gradient( center top, #fb9e25 5%, #ffc477 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477');
	background-color:#fb9e25;
}.botonEnviarFormulario:active {
	position:relative;
	top:1px;
}